In [1]:
import numpy as np
import pandas as pd

In [2]:
data = [[1,2,3], [4,5,6], [7,8,9]]
indexes = ['test1', 'test2', 'test3']
columns = ['supertest1', 'supertest2', 'supertest3']
df1 = pd.DataFrame(data, indexes, columns)
newData = [[1,1,1], [2,2,2]]
df2 = pd.DataFrame(newData, ['test1', 'test3'], columns)

In [3]:
display(df1, df2)

       supertest1  supertest2  supertest3
test1           1           2           3
test2           4           5           6
test3           7           8           9

       supertest1  supertest2  supertest3
test1           1           1           1
test3           2           2           2

In [4]:
for i in df2.index:
    df1.loc[i] += df2.loc[i]
    
df1

       supertest1  supertest2  supertest3
test1           2           3           4
test2           4           5           6
test3           9          10          11

In [6]:
df = pd.read_csv(r'C:\Users\tjbro\Desktop\Thesis_Project\Thesis_code\Real_data_work\05Data\tab_list_.05\tab_list_.05_1')